.hidden { display: none;}

body {
  font-size: 16px;
  padding: 1em;
  background-color: white;
}

h2 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  color: #994636;
  margin: 1.5em;
  font-size: 2em;
  text-transform: uppercase;
}

h3 {
font-family: 'Noto Sans JP', sans-serif;
font-weight: 100;
color: #FDCA40;
margin: 1.5em;
}

p {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
	color: #0C0C0C;
	line-height: 1.875em;
}

.header-img{
	max-width: 100%;
}

.intro-img , .greenharpoon-img, .brewersreserve-img, .infecterwolverine-img {
	max-width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
